<div class="px-4 md:px-16">
    <div class="breadcrumb">
        <a class="px-2" ng-click="vm.navigateTo('/')">Home</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
        </svg>
        <a ng-click="vm.navigateTo('/snowboard')" class="px-2">Snowboard</a>
    </div>
    <h1 class="px-2 py-1 mb-8 text-4xl font-black">Snowboard</h1>
    <div
        class="font-sans text-2xl border-t-2 border-b-2 h-20 sticky z-50 bg-white px-16 flex flex-row items-center justify-between">
        <div class="flex flex-initial items-center text-center">
            Filter by Gender
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </div>
        <div class="flex flex-initial items-center text-center">
            Filter by Size
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </div>
        <div class="flex flex-initial items-center text-center">
            Filter by Color
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 x-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </div>
    </div>
    <div class="card__collection clear-fix pt-8">
        <div class="cards cursor-pointer" ng-repeat="(key, item) in vm.items" ng-click="vm.navigateTo('/snowboard/' + item.id)" >
           <img ng-src="{{item.img}}" class="w-full h-auto" alt=""> 
            <span class="cards__rect-1">
                <span class="shadow-1">
                    <p>{{item.label}}</p>
                </span>
            </span>
            <span class="cards__rect-2">
                <span class="shadow-2">
                    <p>{{item.price}} $</p>
                </span>
            </span>
            <span class="cards__rect-3">
                <span class="shadow-1">
                    <p class="">NEW</p>
                </span>

            </span>
            <span class="cards__rect-4">
                <span class="shadow-2">
                </span>
            </span>
        </div>
    </div>
</div>